<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/css/form.css">
</head>
<body>
	<div>
		<h2>bb allen</h2>
		
	</div>
	<form>
		<div id="personal-info">
			<label>Name</label>
			<input type="text" name="first-name" placeholder="First Name">
			<label>Email</label>
			<input type="text" name="email" placeholder="Email">
			<label>Phone</label>
			<input type="number" name="phone">
			<button>neaxt</button>
			
		</div>
		<input type="name" name="name">
	</form>
	<script type="text/javascript" src="assets/js/form.js"></script>

</body>
</html>